@import '../../../../colors.css';

.header-list-container {
  font-family: Courier;
  margin-top: 10px;

  z-index: 1;

  height: '100%';
  overflow: 'auto';
}

.header-list-container--narrowed {
  border: 1px solid var(--base2);
  margin: 0;
  margin-top: 10px;
  border-radius: 4px;
}

.header-list-container--reordering {
  user-select: none;
}
